.config-row > a {
    text-decoration: none;
    font-size: 0.8rem;
}

.card-header-fill-blue {
    color: #ffffff;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.main-menu-fill-blue {
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

span.red {
    color: red;
}

span.green {
    color: green;
}
